<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="/static/main.css">    
</head>    
<body> 
    
    
   

    <h2>Login Page</h2><br>    
    <div class="form">  
    <form  action="http://127.0.0.1:5000/login/input" method="post">  
        <label for="Username"><b>UserName     
        </b>    
        </label>    
        <input type="text"  name="username" id="username" placeholder="Username">    
        <br><br>    
        <label for="password"><b>Password     
        </b>    
        </label>    
        <input type="Password"  name="Password" id="password" placeholder="Password">    
        <br><br>    
        <input type="submit" name="submit" id="submit" value="submit">   
            
             
    </form>     
</div>    
</body>    
</html>     